<!DOCTYPE html>
<html>
  <head>
    <title>Vibefixers</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="http://connect.soundcloud.com/sdk.js"></script>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid col-md-9">

        <div class="navbar-header">
          <a class="navbar-brand" href="#">VibeFixers</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li>
            <a href="#"><%= current_user.username %></a>
            </li>
            <% if current_user.artist %>
              <li>
                <%= link_to 'Post', new_post_path %>
              </li>
            <% end %>
            <li>
              <%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %>
            </li>
          <% else %>
            <li>
              <%= link_to 'Register', new_user_registration_path %>
            </li>
            <li>
              <%= link_to 'Login', new_user_session_path %>
            </li>
          <% end %>
        </ul>

        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search Song">
          </div>
        </form>
      </div>
    </nav>
    <main class="main col-md-9">

      <div class="content col-md-8">
        <%= yield %>
      </div>

      <div class="popular col-md-4"></div>
    </main>
  </body>
</html>
